body {
    padding-top: 5em;
    padding-bottom: 3em;
}
code {
    white-space: pre;
}
a.navbar-brand img {
    max-height: 2em;
}
div.card {
    margin: 0 0 .2em .2em !important;
}
.book {
    padding: 0 20%;
}
.bg-dark {
    background-color: #30373e !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .9);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}
